---
import { Photo, photos } from "../../data/photos";
import BaseLayout from "../../layouts/BaseLayout.astro";

export interface Props {
  photo: Photo;
}
const { photo } = Astro.props as Props;

export const getStaticPaths = async () => {
  return photos.map((p) => {
    return { params: { id: p.id }, props: { photo: p } as Props };
  });
};
---

<BaseLayout
  title={photo.title}
  description={photo.location}
  permalink={`https://www.jungaretti.com/photos/${photo.id}`}
  image={photo.src.compressed}
>
  <div class="frame">
    <div>
      <img src={photo.src.compressed} alt={photo.alt} class="w-full rounded-xl"
      />
    </div>
    <div class="my-4">
      <div class="md:flex md:flex-row">
        <div class="flex-auto space-y-2">
          <h2 class="font-bold leading-tight text-2xl">{photo.title}</h2>
          <div>
            <p>{photo.location}</p>
            <p>
              {photo.date.toLocaleString("en-US", { month: "long" })}
              {photo.date.getFullYear()}
            </p>
          </div>
        </div>
        <div class="mt-2 md:mt-0">
          <p>
            <a href={photo.src.original} class="underline">
              Download Original
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
