---
import { Photo, photos } from "../../data/photos";
import BaseLayout from "../../layouts/BaseLayout.astro";

export interface Props {
  photo: Photo;
}

export const getStaticPaths = async () => photos.map((p) => {
  return { params: { id: p.id }, props: { photo: p } as Props }
});
const { photo } = Astro.props as Props;
---

<BaseLayout
  title={photo.title}
  description={photo.location}
  permalink={`https://www.jungaretti.com/photos/${photo.id}`}
  image={photo.src.compressed}
>
  <div class="frame">
    <div>
      <img src={photo.src.compressed.toString()} alt={photo.alt} class="w-full rounded-xl"
      />
    </div>
    <div class="mt-2">
      <div class="md:flex md:flex-row">
        <div class="flex-auto">
          <h2 class="font-bold leading-tight text-2xl">{photo.title}</h2>
          <p class="leading-tight">{photo.location}</p>
        </div>
        <div>
          <p class="text-sm">
            <a href={photo.src.original.toString()} class="underline">Download Original</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
