---
import { CollectionEntry, getCollection } from "astro:content";
import type { Metadata } from "@lib/Metadata";
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@components/Section.astro";

interface Props {
  photo: CollectionEntry<"photos">;
}
const { photo } = Astro.props;

export async function getStaticPaths() {
  const photos = await getCollection("photos");
  return photos.map((p) => ({
    params: { slug: p.slug },
    props: { photo: p },
  }));
}

const meta: Metadata = {
  title: `${photo.data.title} - JP Ungaretti`,
  description: photo.data.description,
  imageSrc: photo.data.src.compressed,
};
---

<BaseLayout meta={meta}>
  <Section title={photo.data.title}>
    <div>
      <img
        src={photo.data.src.compressed}
        alt={photo.data.alt}
        class="w-full rounded-xl"
      />
    </div>
    <div class="my-3 md:flex md:flex-row">
      <div class="flex-auto space-y-2">
        <div>
          <p>{photo.data.location}</p>
          <p>
            {
              photo.data.date.toLocaleString("en-US", {
                month: "long",
                year: "numeric",
              })
            }
          </p>
        </div>
      </div>
      <div class="mt-3 md:mt-0">
        <p>
          <a href={photo.data.src.original} class="underline">
            Download Original
          </a>
        </p>
      </div>
    </div>
  </Section>
</BaseLayout>
