---
import { getCollection } from "astro:content";
import type { HeadMeta } from "../types/HeadMeta";
import Section from "../components/Section.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Columns from "../components/Columns.astro";
import ImagePreview from "../components/ImagePreview.astro";

const photos = await getCollection("photos");
photos.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const art = await getCollection("art");

const meta: HeadMeta = {
  title: "Gallery - JP Ungaretti",
  description:
    "My photos and artwork. Inspired by mountains, sailboats, stars, and more.",
};
---

<BaseLayout meta={meta}>
  <div class="frame space-y-8">
    <Section title="Recent Photos">
      <Columns>
        {
          photos.map((photo) => (
            <ImagePreview
              src={photo.data.src.compressed}
              alt={photo.data.alt}
              href={`/photos/${photo.slug}`}
            />
          ))
        }
      </Columns>
    </Section>
    <Section title="My Art">
      <Columns>
        {
          art.map((a) => (
            <ImagePreview src={a.data.src.compressed} alt={a.data.alt} />
          ))
        }
      </Columns>
    </Section>
  </div>
</BaseLayout>
