---
import { getCollection } from "astro:content";
import type { Metadata } from "../types/Metadata";
import NationalParkCard from "../components/NationalParkCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";

const meta: Metadata = {
  title: "National Parks - JP Ungaretti",
  description: "",
};

const parks = await getCollection("nationalParks");
---

<BaseLayout meta={meta}>
  <Section title="National Parks">
    <div class="grid-standard grid-cols-1 md:grid-cols-1 lg:grid-cols-1">
      <div class="grid-standard lg:grid-cols-3">
        {
          parks
            .filter(({ data }) => data.category === "desert")
            .map(({ data }) => <NationalParkCard park={data} />)
        }
      </div>
      <div class="grid-standard lg:grid-cols-3">
        {
          parks
            .filter(({ data }) => data.category === "mountains")
            .map(({ data }) => <NationalParkCard park={data} />)
        }
      </div>
      <div class="grid-standard lg:grid-cols-3">
        {
          parks
            .filter(({ data }) => data.category === "pacific")
            .map(({ data }) => <NationalParkCard park={data} />)
        }
      </div>
      <div class="grid-standard lg:grid-cols-3">
        {
          parks
            .filter(({ data }) => data.category === "eastern")
            .map(({ data }) => <NationalParkCard park={data} />)
        }
      </div>
      <div class="grid-standard lg:grid-cols-3">
        {
          parks
            .filter(({ data }) => data.category === "tropics")
            .map(({ data }) => <NationalParkCard park={data} />)
        }
      </div>
      <div class="grid-standard lg:grid-cols-3">
        {
          parks
            .filter(({ data }) => data.category === "alaska")
            .map(({ data }) => <NationalParkCard park={data} />)
        }
      </div>
    </div>
  </Section>
</BaseLayout>
