---
import { Image } from 'astro:assets';

interface Props {
  src: string;
  alt: string;
  width: number;
  height: number;
  href?: string;
}
const { src, alt, width, height, href } = Astro.props;
---

<div>
  <a href={href}>
    <Image src={src} alt={alt} width={width} height={height} class="w-full rounded-lg" />
  </a>
</div>
