---
const { photo } = Astro.props;
---

<div>
  <div>
    <img
      src={photo.image.compressedUrl}
      alt={photo.image.alt}
      class="rounded-xl" />
  </div>
  <div class="mt-2">
    <h3 class="font-bold mb-0">{photo.meta.title}</h3>
    <p class="italic">{photo.meta.description}</p>
    <p class="">{photo.meta.location}</p>
  </div>
</div>
